<aside {{#if open}} class="aside-open" {{else}} class="aside-closed" {{/if}}>
   
      {{#if open}} 
         <header class="action-header">
            <div class="personal" onclick="location.href='../../src/pages/profile.html';">
                <div class="personal__photo"></div>
                <label class="personal__display-name">{{login_people.display_name}}</label>
                <label class="personal__name">{{login_people.first_name}} {{ login_people.second_name}}</label>
            </div>
            <button class="collapse-button"> ❮ Свернуть</button>
        </header>
        <search>
            <form action="./search/" class="serch">
                <input type="search" id="movie" placeholder="Поиск" class="search__input" />
            </form>
        </search>
        <ul class="chats-list">
            {{#each chats}}
            <li class="chats-list__message">
                <div class="message__interlocutor-photo"></div>
                <label class="message__interlocutor-name">{{this.name}}</label>
                <div class="message__content">
                    {{#if this.output}} <label class="content__is-sender">Вы:</label>{{/if}}
                    <label class="content__text">{{this.message}}</label>
                </div>
                <label class="message__time">{{this.time}}</label>
                {{#if this.new_count}} <div class="message__new-count">{{this.new_count}}</div>{{/if}}
            </li>
            {{/each}}
        </ul>
      {{else}}
        <button class="saside-closed__expand-button">➔</button>
        {{/if}}
    </aside>

    <style>
        .saside-closed__expand-button {
        background: #ABBFD3;
        color: white;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        margin: 45vh 20px;
        font-size: 18px;

    }   




.personal__display-name,
    .interlocutor__display-name {

        color: #3D6A95;
        font-weight: 500;
    }

    .action-header {
        display: flex;
    }

    .personal__photo {
        grid-area: photo;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: #3D6A95;
        align-self: center;
    }

    .personal {

        display: grid;
        align-self: center;
        min-width: 250px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 60px 1fr;
        grid-template-areas:
            'photo login'
            'photo name'
    }

    .personal__name {
        color: #999999;
    }

    .collapse-button {
        background: none;
        border: none;
        font-size: 12px;
        margin-left: auto;
        padding: 5px 0;
        height: 20px;
        color: #627B9B;
        font-weight: 500;
        min-width: 70px;
    }

    .search__input {
        width: calc(100% - 40px);
        margin: 5px 20px;
        padding-left: 10px;
    }

    .search__input::placeholder {
        color: #143256;
    }

    .chats-list {
        height: calc(100% - 140px);
        list-style: none;
        padding: 0 10px;
        margin: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }


    .chats-list__message {
        height: 70px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 60px 1fr 40px;
        grid-template-areas:
            'photo name time'
            'photo text none'
            'photo text new_count';
        border-bottom: 1px solid #EAEAEA;
        color: #999999;
        box-sizing: border-box;
        margin: 10px 0;
    }

    .message__interlocutor-photo,
    .interlocutor__photo {
        grid-area: photo;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: #EFEFEF;
        align-self: center;
        margin: 5px;
    }

    .message__interlocutor-name {
        grid-area: name;
        color: #143256;
        font-size: 14px;
        font-weight: 500;

    }

    .message__content {
        grid-area: text;
        font-size: 12px;
        font-weight: 500;
    }

    .content__is-sender {
        color: black;
    }

    .message__time {
        grid-area: time;
        font-size: 10px;
        text-align: center;
    }

    .message__new-count {
        grid-area: new_count;
        width: 20px;
        height: 20px;
        background: #3D6A95;
        border-radius: 10px;
        color: white;
        align-content: center;
        font-weight: 400;
        text-align: center;
        justify-self: center;
        font-size: 12px;
    }
    </style>