<div class="input-block">
  <label class="input-block__label" name={{name}}>{{label}}</label>
  {{{input}}}
  <label class="input-block__error-label {{display_error_label}}" >{{regtext}}</label>
</div>
