<div class="middle-panel register">
    <h2 class="middle-panel__title">Регистация</h2>
    <form onsubmit="return false" method="post" class="middle-panel__form" id="register_form">
      <div  class="middle-panel__form__input-block">
        {{{mail_input}}}
        {{{login_input}}}
        {{{first_name_input}}}
        {{{second_name_input}}}
        {{{phone_input}}}
        {{{password_input}}}
        {{{confirm_password_input}}}
      </div>
      {{{button}}}
    </form>
    <a href="../authorization/authorization.html" class="middle-panel__linck">Войти</a>
</div>

