<div class="chat-page">
    {{{aside}}}
    <main>
        <header class="message-header">
<<<<<<< HEAD
            <div class="message-header__interlocutor" onclick="location.href='../pages/client_errors'">
=======
            <div class="message-header__interlocutor" onclick="location.href='./client_errors.html'">
>>>>>>> 1df4778a412cfef27fe3f9fbbb0404420fcc05a3
                <div class="plug message-header__interlocutor__photo"></div>
                <label class="bright-blue-name message-header__interlocutor__display-name">{{display_name}}</label>
            </div>
<<<<<<< HEAD:pages/chat.html
            <button class="button-img message-header__menu-button">
<<<<<<< HEAD
                <img src="../public/menu-dots-vertical.svg" />
=======
                <img src="../public/menu-dots-vertical.svg" alt="Меню чата"/>
>>>>>>> 1df4778a412cfef27fe3f9fbbb0404420fcc05a3
            </button>
=======
            {{{message_menu_button}}}
>>>>>>> sprint_2:src/pages/chat/chat.hbs
        </header>
        <section class="message__history">
            <ul class="history-list">
                {{displa}}
                {{#each message}}<li>
                    <label class="history-list__data-block">{{@key}}</label>
                    {{#each this}}
                    <div {{#if this.output}}class="history-list__message" {{else}} class="history-list__message--output"
                        {{/if}}>
                        <p class="history-list__message__text">{{this.message}}</p>
                        <label class="history-list__message__time">{{this.time}}</label>

                    </div>
                    {{/each}}
                </li>
                {{/each}}
        </section>
<<<<<<< HEAD:pages/chat.html
        <section class="send-block">
<<<<<<< HEAD
            <button class="button-img send-block__attach-file"><img src="../public/attach-file.svg"/></button>
            <textarea class="send-block__writing-textarea" placeholder="Сообщение"></textarea>
            <button class="send-block__send-button" onclick="location.href='../pages/server_errors'">
=======
            <button class="button-img send-block__attach-file"><img src="../public/attach-file.svg" alt="Прикрепить вложение к сообщению"/></button>
            <textarea class="send-block__writing-textarea" placeholder="Сообщение"></textarea>
            <button class="send-block__send-button" onclick="location.href='./server_errors.html'">
>>>>>>> 1df4778a412cfef27fe3f9fbbb0404420fcc05a3
                ➔</button>
        </section>
    </main>
</body>

</html>
<<<<<<< HEAD
=======
=======
        <form onsubmit="return false" class="send-block">
            {{{attach_file_button}}}
            <textarea class="send-block__writing-textarea" name="message" placeholder="Сообщение" required="required"
                id="send_message_form"></textarea>
            {{{send_message_button}}}
        </form>
    </main>
</div>
>>>>>>> sprint_2:src/pages/chat/chat.hbs

>>>>>>> 1df4778a412cfef27fe3f9fbbb0404420fcc05a3
