<div class="change-password-page">
    {{{aside}}}
    <main>
        <div class="change-password">
            {{{user_logo}}}
            <form action="./profile.html" method="post" class="change-password__form">
                {{{old_password_input}}}
                {{{new_password_input}}}
                {{{confirm_new_password_input}}}
                {{{save_button}}}
                {{!-- {{>input_block name="password"
                type="password" value="" label="Старый пароль"}}
                {{>input_block name="password"
                type="password" value="" label="Новый пароль"}}
                {{>input_block name="password"
                type="password" value="" label="Новый пароль(ещё раз)"}}
                {{>button type="submit" class="change-password__save-button"
                label="Сохранить"}} --}}
            </form>
        </div>
    </main>
</div>