<div class="change-password-page">
    {{{aside}}}
    <main>
        <div class="change-password">
            {{{user_logo}}}
            <form onsubmit="return false" class="change-password__form" id="change_password_form">
                {{{old_password_input}}}
                {{{new_password_input}}}
                {{{confirm_new_password_input}}}
                {{{save_button}}}
            </form>
           
        </div>
         {{{back_linck}}}
    </main>
</div>

