<div class="profile-page">
    {{{aside}}}
    <main>
        <div class="user-profile">
            {{{user_logo}}}
            <form method="post" class="user-profile__settings-form">
                <div>
                    {{{mail_input}}}
                    {{{login_input}}}
                    {{{first_name_input}}}
                    {{{second_name_input}}}
                    {{{display_name}}}
                    {{{phone_input}}}
                </div>
                {{{save_button}}}
            </form>
            <div class="user-profile__button-block">
                {{{change_password_button}}}
                {{{sign_out_button}}}
            </div>
        </div>
    </main>
</div>