<aside {{#if open}} class="aside-open" {{else}} class="aside-closed" {{/if}}>
    {{#if open}}
    <header class="action-header">
        <div class="personal">
            {{{personal_photo}}}
            <label class="bright-blue-name  personal__display-name">{{user.display_name}}</label>
            <label class="personal__name">{{user.first_name}} {{user.second_name}}</label>
        </div>
        {{{collapse_button}}}
    </header>
    <search>
        <form action="./search/" class="serch">
            <input type="search" id="movie" placeholder="Поиск" class="search__input" />
        </form>
    </search>
    <ul class="chats-list">
        {{#each chats}}
        <li class="chats-list__message" data-id="{{this.id}}">
            <div class="plug chats-list__message__interlocutor-photo"></div>
            <label class="chats-list__message__interlocutor-name">{{this.title}}</label>
            <div class="chats-list__message__content">
                {{#if this.output}} <label class="chats-list__message__content__is-sender">Вы:</label>{{/if}}
                <label class="chats-list__message__ccontent__text">
                    {{#if this.last_message}} {{this.last_message}}
                    {{else}}Сообщений пока нет{{/if}}
                </label>
            </div>
            <label class="chats-list__message__time">{{this.time}}</label>
            {{#if this.unread_count}} <div class="chats-list__message__new-count">{{this.unread_count}}</div>{{/if}}
        </li>
        {{/each}}
    </ul>
    {{{add_chat_block}}}
    {{{add_chat_button}}}
    {{else}}
    {{{expand_button}}}
    {{/if}}
</aside>