<div class="chat-page">
    {{{aside}}}
    {{#if display_name}}
    <main>
        <header class="message-header">
            <div class="message-header__interlocutor">
                <div class="plug message-header__interlocutor__photo"></div>
                <label class="bright-blue-name message-header__interlocutor__display-name">{{display_name}}</label>
            </div>
            {{{message_menu_button}}}
        </header>
        <section class="message__history">
            {{#if message}} <ul class="history-list">
                {{#each message}}<li>
                    <label class="history-list__data-block">{{@key}}</label>
                    {{#each this}}
                    <div {{#if this.output}}class="history-list__message" {{else}} class="history-list__message--output"
                        {{/if}}>
                        <p class="history-list__message__text">{{this.message}}</p>
                        <label class="history-list__message__time">{{this.time}}</label>

                    </div>
                    {{/each}}
                </li>
                {{/each}}
            </ul>
            {{else}}
            <div class="default-message">
                <label>История сообщений пока пуста</label>
            </div>
            {{/if}}

        </section>
        <form onsubmit="return false" class="send-block" id="send_message_form">
            {{{attach_file_button}}}
            <textarea class="send-block__writing-textarea" name="message" placeholder="Сообщение"
                required="required"></textarea>
            {{{send_message_button}}}
        </form>
    </main>
    {{else}}
    <main>
        <div class="default-message">
            <label>Не выбран ни один чат</label>
        </div>
    </main>
    {{/if}}

</div>